<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<title>404</title>
	<p>
		Error by {{name}}
		{{res}}
	</p>
</head>
<body>
	
	<div class="main-content" 
		{{> header}}
	</div>
	{{> footer}}
</body>
</html>