<!DOCTYPE html >
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<title>About</title>
</head>
<body>
	<div class="main-content">
	 {{> header}}
	<h1>Help...I need somebody...not just anybody...</h1>
	</div>
	{{> footer}}
</body>
</html>